.welcome-box{
    position: absolute;
    padding: 2em 3em;
    text-align: center;
    left: 5%;
    top: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #461D1A!important;
}
.welcome-box h2{
    color: #461D1A!important;
}
.search-input{
    width: 80%;
    margin: 0 auto;
}
